<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>用户登录界面</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/login}" method="post">
			<img class="mb-4" th:src="@{/img/index.ico}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
			<label class="sr-only">Username</label>
			<input type="text" class="form-control" placeholder="账号" name="id">
				<label class="sr-only">Password</label>
			<input type="password" class="form-control" placeholder="密码" name="password">
			<div class="checkbox mb-3">
				<label>
          			<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
			<p class="mt-5 mb-3 text-muted">© 20219-2020</p>
			<a class="btn btn-sm">中文</a>
			<a class="btn btn-sm">English</a>
		</form>

		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script>
			var websocket=null;
			//判断浏览器是否支持
			if('WebSocket' in window) {
				websocket = new WebSocket('ws://47.103.198.84:8080/sell/websocket');
			} else {
				alert('该浏览器不支持websocket');
			}
			websocket.onopen = function (event) {
				console.log('建立连接');
			}
			websocket.onclose = function (event) {
				console.log('连接关闭');
			}
			websocket.onmessage = function (event) {
				console.log('收到消息：'+event.data);
				if (event.data==='管理员登陆成功') {
					alert('管理员登陆成功');
					window.location.replace('seller/order/list')
				} else if (event.data==='用户登陆成功') {
					alert('登陆成功！但你不是管理员哦');
					window.location.replace('');
				} else {
					alert(event.data);
					window.location.replace('');
				}
			}
			websocket.onerror = function (event) {
				alert(event.data);
				alert('webcoket通信发生错误');
			}
			websocket.onbeforeload = function () {
				websocket.close();
			}
		</script>
	</body>
</html>