<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>
    <div id="wrapper" class="toggled">
        <!--侧边栏-->
        <nav th:replace="common/nav :: main"></nav>
        <!--主要内容-->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row clearfix">
                    <!--        订单总金额-->
                    <div class="col-md-4 column">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>订单id</th>
                                <th>订单总金额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td th:text="${orderDTO.getOrderId()}"></td>
                                <td th:text="${orderDTO.getOrderAmount()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--        订单详情列表-->
                    <div class="col-md-12 column">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>订单id</th>
                                <th>商品名称</th>
                                <th>价格</th>
                                <th>数量</th>
                                <th>总额</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orderDetail:${orderDTO.getOrderDetailList()}">
                                <td th:text="${orderDetail.getOrderId()}"></td>
                                <td th:text="${orderDetail.getProductName()}"></td>
                                <td th:text="${orderDetail.getProductQuantity()}"></td>
                                <td th:text="${orderDetail.getProductPrice()}"></td>
                                <td th:text="${orderDetail.getProductQuantity() * orderDetail.getProductPrice()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--        按钮-->
                    <div class="col-md-12 column" th:if="${orderDTO.getOrderStatus()==0}">
                        <a th:href="@{/seller/order/finish(orderId=${orderDTO.getOrderId()})}" type="button" class="btn btn-default btn-primary" >完结订单</a>
                        <a th:href="@{/seller/order/cancel(orderId=${orderDTO.getOrderId()})}" type="button" class="btn btn-default btn-danger" >取消订单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>